<div class="">

    <div class="row">
        <div class="span3">
            <div class="tabbable" style="margin-bottom: 18px; ">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#treeTabArea" data-toggle="tab">Area</a></li>
                    <li class=""><a href="#treeTabLine" data-toggle="tab">Line</a></li>
                    <li class=""><a href="#treeTabPoint" data-toggle="tab">Point</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active treepanel" id="treeTabArea">
                    </div>
                    <div class="tab-pane treepanel" id="treeTabLine">
                    </div>
                    <div class="tab-pane treepanel" id="treeTabPoint">
                    </div>
                </div>
            </div>

        </div>
        <div class="span12">
            <div class="Mask" style='display: none;'>
                <canvas id="MaskCanvas1">
            </div>
            <div style="display: block;height: 28px;cursor:default;">
                {{ groupName }}
                 <span ng-repeat="path in navigationPath" >
                    <span>-></span>
                    <a ng-click="clickTreeNode($index)" style="cursor:pointer">{{ path }}</a>
                 </span>
            </div>
            <div class="tempInfo">
                <div class="accordion" id="accordion2">
                    <div ng-repeat="myfield in fields" class="accordion-group">
                        <div class="accordion-heading">
                            <div class="accordion-inner">

                                <a ng-class="{groupFocus: currentField.name == myfield.name}">
                                    {{myfield.name}}
                                </a>
                                <a class="pull-right" ng-click="doConfig()" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{myfield.name}}">
                                    <img title="配置" src="img/cfg.png">
                                </a>
                            </div>
                            <div class="pagination " style="padding: 8px 15px;margin: 0;">
                                <ul id='listul{{myfield.name}}' style="display: block;">
                                    <li ng-repeat="prop in props">
                                        <a ng-click="setProp(prop,'exist')" ng-class="{itemActive: $index==theIndex}" class="labeli{{$index}}">
                                            <myitem/>

                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div id="collapse{{myfield.name}}" class="accordion-body collapse" >
                            <div class="accordion-inner">
                                <myinput/>
                            </div>
                        </div>
                    </div>
<!--                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <div class="accordion-inner">
                                <a>
                                    showpixel
                                </a>
                                <a class="pull-right" data-toggle="collapse" data-parent="#accordion2" href="#collapseShowPixel">
                                    <img title="配置" src="img/cfg.png">
                                </a>
                            </div>

                            <div class="pagination " style="padding: 8px 15px;margin: 0;">
                                <ul id='listul2'>
                                    <li ng-repeat="prop in props">
                                        <a ng-click="setProp(prop,'showpixel')" ng-class="{itemActives: $index==theIndex}" class="labeli{{$index}}">
                                            {{prop.showpixel}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="collapseShowPixel" class="accordion-body collapse" style="height: 0">
                            <div class="accordion-inner">
                                <form>
                                    <input type="text" ng-model="showpixelValue">
                                </form>
                            </div>
                        </div>
                    </div>-->
                </div>

            </div>

        </div>


    </div>
    <div class="modal hide" id="confirm">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"  >&times;</button>
            <h3>对话框标题</h3>
        </div>
        <div class="modal-body">
            <p>你好...</p>
        </div>
        <div class="modal-footer">
            <a href="#"  data-dismiss="modal" class="btn">关闭</a>
            <a href="#" class="btn btn-primary">保存</a>
        </div>
    </div>
</div>


