
<div class="container">
    <div class="row-fluid">
      <div class="span2">
          <ul>
              <li ng-repeat="item in treeItem.root" >
                  {{item.self}}
                  <ul ng-show="item.branch.length > 0">
                      <li ng-repeat="b in item.branch" > {{b.self}}  </li>
                  </ul>
              </li>

          </ul>

          <ul ng-tree="tree">
              <li>{{item.name}}</li>
          </ul>


          <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>
                  Item 3
                  <ul>
                      <li>Item 3.1</li>
                      <li>Item 3.2</li>
                      <li>Item 3.3</li>
                  </ul>
              </li>
              <li>
                  Item 4
                  <ul>
                      <li>Item 4.1</li>
                      <li> Item 4.2 </li>
                  </ul>
              </li>
              <li>Item 5</li>
          </ul>
      </div>

      <div class="span10">
          <div class="container">
              <div class="row-fluid">
                  <div class="span1">navigation</div>
                  <form class="form-horizontal">
                      <div class="span3 input-prepend"><span class="add-on">数据源：</span><input type="text" class="span2"></div>
                      <div class="span3 input-prepend"><span class="add-on">数据路径：</span><input type="text" class="span2" ></div>
                      <div class="span5 input-prepend">
                          <span class="add-on">配置模版：</span>
                          <select class="span3">
                              <option>config</option>
                              <option>config template</option>
                          </select>
                          <button>开始编译</button>
                      </div>
                  </form>
              </div>
              <br>
              <div><canvas id="compile_canvas" ></canvas></div>
          </div>
      </div>
    </div>



</div>

<script type="text/javascript">
    $(treeItems);
</script>

