
<div class="container">
    <div class="row-fluid">

      <div class="span10">
          <div class="container">
              <br>
              <div><canvas id="compile_canvas" ></canvas></div>
              <br>

              <div class="row-fluid">
                  <form class="form-horizontal">
                      <div class="span5 input-prepend">
                        
                       
                          <span class="add-on">编译模版：</span>
                          <select class="span3">
                              <option ng-repeat="temp in tempList">{{temp.name}}</option>
                          </select>
                          <button ng-click="beginCompile()">开始编译</button>
                      </div>
                  </form>
              </div>



              <div class="console">
                <h4 class="title"><span>
                  控制台</span></h4>         
                  <p><textarea></textarea></p>
              </div>
          </div>






      </div>




    </div>

</div>



