
 

<div class="tempInfo">
        <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      exist
                    </a>
        <div class="pagination " style="padding: 8px 15px;margin: 0;">
      <ul>
          <li ng-repeat="prop in props">
              <a ng-click="setProp(prop)" ng-class="myVar" class="labeli{{$index}}">
                  <img ng-src="img/exist{{prop.exist}}.png"/>
              </a>
          </li>
      </ul>
    </div>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse" style="height: 0">
                    <div class="pagination accordion-inner">
                        
                        
            <form>
                <label class="radio  inline">
              <input type="radio" ng-model="currProp.exist" name="optionsRadios" value="1" checked="true"><img src="img/valid.png">
                </label>
                <label class="radio  inline">
              <input type="radio" ng-model="currProp.exist" name="optionsRadios" value="0"><img src="img/error.png">
                </label>
                <label class="radio  inline">
                    <img style="border:1px solid" src="img/painter.jpg">
                </label>
              
          </form>



                    </div>
                  </div>
                </div>
   