<div class="">

    <div class="row">
        <div class="span3">
            <div class="tabbable" style="margin-bottom: 18px; ">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#treeTabArea" data-toggle="tab">Area</a></li>
                    <li class=""><a href="#treeTabLine" data-toggle="tab">Line</a></li>
                    <li class=""><a href="#treeTabPoint" data-toggle="tab">Point</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active treepanel" id="treeTabArea">
                    </div>
                    <div class="tab-pane treepanel" id="treeTabLine">
                    </div>
                    <div class="tab-pane treepanel" id="treeTabPoint">
                    </div>
                </div>
            </div>

        </div>
        <div class="span12">
            <div class="zippy" zippy-title="Details: {{title}}...">{{text}}</div>


            exist:{{fields[0].exist}}
            <input type="text" ng-model="fields[0].exist">



            <div class="Mask" style='display: none;'>
                <canvas id="MaskCanvas1">
            </div>
            <div>
                 <span ng-repeat="path in navigationPath">
                    <a href="{{path}}">{{ path }}</a>
                    <span ng-show=" ! $last ">-></span>
                 </span>
            </div>
            <div class="tempInfo">
                <div class="accordion" id="accordion2">
                    
                    <div ng-repeat="myfield in fields" class="accordion-group">
                        <div class="accordion-heading">
                            <div class="accordion-inner">
                                <a class="">
                                    {{myfield.name}}
                                </a>
                                <a class="pull-right" ng-click="doConfig()" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{myfield.name}}">
                                    <img title="配置" src="img/cfg.png">
                                </a>
                            </div>
                            <div class="pagination " style="padding: 8px 15px;margin: 0;">
                                <ul id='listul{{myfield.name}}'>
                                    <li ng-repeat="prop in props">
                                        <a ng-click="setProp(prop,'exist')" ng-class="{itemActive: $index==theIndex}" class="labeli{{$index}}">
                                            <myitem/>

                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div id="collapse{{myfield.name}}" class="accordion-body collapse" style="height: 0">
                            <div class="accordion-inner">
                                <myinput/>
                            </div>
                        </div>
                    </div>
<!--                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <div class="accordion-inner">
                                <a>
                                    showpixel
                                </a>
                                <a class="pull-right" data-toggle="collapse" data-parent="#accordion2" href="#collapseShowPixel">
                                    <img title="配置" src="img/cfg.png">
                                </a>
                            </div>

                            <div class="pagination " style="padding: 8px 15px;margin: 0;">
                                <ul id='listul2'>
                                    <li ng-repeat="prop in props">
                                        <a ng-click="setProp(prop,'showpixel')" ng-class="{itemActives: $index==theIndex}" class="labeli{{$index}}">
                                            {{prop.showpixel}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="collapseShowPixel" class="accordion-body collapse" style="height: 0">
                            <div class="accordion-inner">
                                <form>
                                    <input type="text" ng-model="showpixelValue">
                                </form>
                            </div>
                        </div>
                    </div>-->
                </div>

            </div>

        </div>


    </div>
</div>


