

<div class="Mask" style='display: none;'><canvas id="MaskCanvas"></div></div>
<div class="tempInfo">
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    exist
                </a>
                <div class="pagination " style="padding: 8px 15px;margin: 0;">
                    <ul id='listul'>
                        <li ng-repeat="prop in props">
                            <a ng-click="setProp(prop)" ng-class="{active: $index==theIndex}" class="labeli{{$index}}">
                                <img ng-src="img/exist{{prop.exist}}.png"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="collapseTwo" class="accordion-body collapse" style="height: 0">
                    <div class="pagination accordion-inner">


                        <form>
                            <label class="radio  inline">
                                <input type="radio" ng-model="existValue" name="optionsRadios" value="1" checked="true"><img src="img/valid.png">
                            </label>
                            <label class="radio  inline">
                                <input type="radio" ng-model="existValue" name="optionsRadios" value="0"><img src="img/error.png">
                            </label>
<!--                            <label class="radio  inline">
                                <img style="border:1px solid" ng-click='doMask()' src="img/painter.jpg">
                                <img style="border:1px solid" ng-click='doRemoveMask()' src="img/painter.jpg">
                            </label>-->

                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>