<meta name="description"
      content="File Upload widget with multiple file selection, drag&amp;drop support, progress bar and preview images for jQuery. Supports cross-domain, chunked and resumable file uploads. Works with any server-side platform (Google App Engine, PHP, Python, Ruby on Rails, Java, etc.) that supports standard HTML form file uploads.">
<meta name="viewport" content="width=device-width">

<div class="container">
    <div class="row">

        <div class="span12">
         <table style="width: 100%">
             <td  style="width: 30%">
                 <progress id="progressPercent" max="100" value = "0"></progress>
                 <span id="progressNumber">0%</span>
             </td>

             <td>
            <div class="btn-toolbar">

                <div class="row fileupload-buttonbar">
                    <form id="uploadfile" enctype="multipart/form-data" method="post" action="">
                    <div class="span9">
                        <input type="checkbox"/>Server端同步生MD5
                        <span class="btn btn-success fileinput-button">
                            <i class="icon-plus icon-white"></i>
                            <span>Add files...</span>
                           <input type="file" id="fileToUpload" name="files[]" onchange="angular.element(this).scope().setUploadFiles(this.value)" multiple/>
                        </span>

                        <button type="submit" id = "uploadButton" class="btn btn-primary start"  ng-click="uploadFile($event)">
                            <i class="icon-upload icon-white"></i>
                            <span>Start upload</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel" ng-click="resetFile()">
                            <i class="icon-ban-circle icon-white"></i>
                            <span>Cancel upload</span>
                        </button>
                        <button type="submit" class="btn btn-danger delete">
                            <i class="icon-upload icon-white"></i>
                            <span>Synchronize files</span>
                        </button>
                    </div>
                    </form>

                </div>

            </div>
             </td>

         </table>


            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th><a href="" ng-click="predicate = 'name'; reverse=false">Name</a>
                    <th style="width: 170px"><a href="" ng-click="predicate = 'createTime'; reverse=!reverse">Time</a></th>
                    <th><a href="" ng-click="predicate = 'size'; reverse=!reverse">Size</a></th>
                    <th style="width: 246px"><a href="" >MD5 Server</a></th>
                    <th style="width: 246px"><a href="" >MD5 Local</a></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tempFile in tempUploadFiles">
                    <td class="need-upload">{{tempFile.name}}</td>
                    <td></td>
                    <td>{{tempFile.size}}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="file in files">
                    <td>{{file.name}}</td>
                    <td>{{file.createTime |  date:'yyyy-MM-dd HH:mm:ss '}}</td>
                    <td>{{file.size}}</td>
                    <td> <a href="" ng-click = "md5Check(file.name,$event)">{{file.md5Sum}}</a>  </td>
                    <td ng-dblclick = "selectFile($event)">dbclick to select file</td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <input type="file" id="selectFile" onchange="angular.element(this).scope().localFileMd5(event)" style="display: none" />
</div>

