<meta name="description"
      content="File Upload widget with multiple file selection, drag&amp;drop support, progress bar and preview images for jQuery. Supports cross-domain, chunked and resumable file uploads. Works with any server-side platform (Google App Engine, PHP, Python, Ruby on Rails, Java, etc.) that supports standard HTML form file uploads.">
<meta name="viewport" content="width=device-width">

<div class="container">
    <div class="row">

        <div class="span10">
            <div class="btn-toolbar">
                <div class="row fileupload-buttonbar">
                    <form id="uploadfile" enctype="multipart/form-data" method="post" action="">
                    <div class="span7">
                        <span class="btn btn-success fileinput-button">
                            <i class="icon-plus icon-white"></i>
                            <span>Add files...</span>
                           <input type="file" id="fileToUpload" name="files[]" onchange="angular.element(this).scope().setUploadFiles(this.value)" multiple/>
                        </span>

                        <button type="submit" class="btn btn-primary start"  ng-click="uploadFile($event)">
                            <i class="icon-upload icon-white"></i>
                            <span>Start upload</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel" ng-click="resetFile()">
                            <i class="icon-ban-circle icon-white"></i>
                            <span>Cancel upload</span>
                        </button>
                    </div>
                    </form>

                </div>
            </div>
            <progress id="progressPercent" max="100" value = "0"></progress>
            <span id="progressNumber">0%</span>
            <div ng-repeat="tempFile in tempUploadFiles">
                <span>{{tempFile.name}}</span>
                <span>{{tempFile.size}}</span>
            </div>


            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th><a href="" ng-click="predicate = 'name'; reverse=false">Name</a>
                    <th><a href="" ng-click="predicate = 'time'; reverse=!reverse">Time</a></th>
                    <th><a href="" ng-click="predicate = 'size'; reverse=!reverse">Size</a></th>
                    <th><a href="" >MD5</a></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in files | orderBy:predicate:reverse">
                    <td>{{file.name}}</td>
                    <td style="width: 170px">{{file.time |  date:'medium'}}</td>
                    <td>{{file.size}}</td>
                    <td style="width: 245px"><a href="" ng-click = "md5Check(file.name,$event)">calculate md5</a></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>

