
<div class="container">

	<div class="row">
		<div class="span12">
            <div>
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#/projectnew">添加</a>
                    </li>
                </ul>
            </div>
			<ul class="projects">
				<li ng-repeat="project in projects" class="thumbnail">
                    <div class="row-fluid">
                        <div class="span2"><img ng-src="{{project.imageUrl}}" class="thumb"></div>
                       <div  class="span9" >
                            <h3>
                                <a href="#/projects/{{project.dataVendor}}/{{project.name}}">
                                <h3>{{project.dataVendor}} / {{project.name}}</h3>
                                </a>
                            <span>{{project.creator}} @ {{project.createTime}}</span>
                            <p>
                                {{project.info}}
                            </p>
                        </div>
                        <div class="span1" ><a href="#/projectedit/{{project.id}}">编辑</a></div>
                    </div>
				</li>
			</ul>
		</div>
	</div>


</div>


