<!doctype html>
<html lang="en" ng-app>
<head>

  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/mask.css">
  <script src="lib/JQuery/jquery-1.7.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/bootstrap/bootstrap-modal.js"></script>
  <script src="lib/bootstrap/bootstrap-modalmanager.js"></script>
  <script type="text/javascript">
    function projectList($scope,$http,$filter) {
      var url = 'project';
      var value = {action:'list'};
       $http({method:'POST',url:url,data:value}).success(function(data) {
           $scope.projects = data;
       });

        $scope.createProject  = function(){
            $scope.project = {};
            $('#newProject').modal();
        };

        $scope.save = function(projectName) {
            if (!$scope.projects[projectName]) {
                $scope.project.id = 'p' + ( Object.keys($scope.projects).length + 1);
                $scope.project.createTime = new Date().getTime();
                $scope.projects[projectName] = angular.copy($scope.project);  //这里要用angular.copy()否则新属性全会指向同一引用
            }
        };

        $scope.edit = function (projectName){
            $scope.project =  $scope.projects[projectName];
            $('#newProject').modal();
        };
    }
  </script>
</head>

<body ng-controller="projectList">
<div class="container">

  <div class="row">
    <div class="span12">
            <div>
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="" ng-click = "createProject()">添加</a>

                    </li>
                </ul>
            </div>
      <ul class="projects">
        <li ng-repeat="project in projects" class="thumbnail">
                    <div class="row-fluid">
                        <div class="span2"><img ng-src="{{project.imageUrl}}" class="thumb"></div>
                       <div  class="span9" >
                            <h3>
                                <a href="{{project.name}}">
                                <h3>{{project.vendor}} / {{project.name}}</h3>
                                </a>
                            <span>{{project.creator}} @ {{project.createTime |date:'yyyy-MM-dd HH:mm:ss '}}</span>
                            <p>
                                {{project.info}}
                            </p>
                        </div>
                        <div class="span1" ><a href="" ng-click = "edit(project.name)">编辑</a></div>
                    </div>
        </li>
      </ul>
    </div>
  </div>

    <div class="modal hide" id="newProject">
            <form name="myForm" class="formpadding">
            <div class="control-group" name = "name" ng-class="{error: myForm.name.$invalid}">
                <label>Project Name</label>
                <input type="text" name="name" ng-model="project.name" required>
                <span ng-show="myForm.name.$error.required" class="help-inline">
                    Required
                </span>
            </div>
            <br>
            <div class="control-group" ng-class="{error: myForm.vendor.$invalid}">
                <label>Vendor</label>
                <input type="text" name="vendor" ng-model="project.vendor" required>
                <span ng-show="myForm.vendor.$error.required" class="help-inline">
                    Required
                </span>
            </div>
            <br>
            <div class="control-group" ng-class="{error: myForm.description.$invalid}">
                <label>Info</label>
                <textarea name="description" ng-model="project.info" required></textarea>
                <span ng-show="myForm.description.$error.required" class="help-inline">
                    Required
                </span>
            </div>
            <br>
            <a data-dismiss="modal" href="#/" class="btn">Cancel</a>
            <button  data-dismiss="modal" ng-click="save(project.name)" ng-disabled="myForm.$invalid" class="btn btn-primary">
                Save
            </button>

        </form>
    </div>


</div>
</body>
</html>
